<section class='faq'>
  <div class='container'>
    <h2 class="faq__header">FAQ</h2>
    <div class="faq-container">
      <div class="faq-item">
        <button class="faq-question">Как активировать сертификат?</button>
        <div class="faq-answer">
          <p>Бессмысленный текст-заполнитель, который вставляется в макет страницы при тестировании или для того, чтобы показать заказчику как будут смотреться блоки с текстом. Его придумали как замену реального текста. Бытует мнение, что рыбный текст — это плохо и настоящий контент лучше, но мы не видим в «рыбе» ничего плохого. Главное не забыть «почистить» ее, иначе это плохо скажется на продвижении сайта.</p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-question">Какая длительность - Мастер-класс артдинга в Тбилиси?</button>
        <div class="faq-answer">
          <p>Бессмысленный текст-заполнитель, который вставляется в макет страницы при тестировании или для того, чтобы показать заказчику как будут смотреться блоки с текстом. Его придумали как замену реального текста. Бытует мнение, что рыбный текст — это плохо и настоящий контент лучше, но мы не видим в «рыбе» ничего плохого. Главное не забыть «почистить» ее, иначе это плохо скажется на продвижении сайта.</p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-question">Сколько действует сертификат?</button>
        <div class="faq-answer">
          <p>Бессмысленный текст-заполнитель, который вставляется в макет страницы при тестировании или для того, чтобы показать заказчику как будут смотреться блоки с текстом. Его придумали как замену реального текста. Бытует мнение, что рыбный текст — это плохо и настоящий контент лучше, но мы не видим в «рыбе» ничего плохого. Главное не забыть «почистить» ее, иначе это плохо скажется на продвижении сайта.</p>
        </div>
      </div>
      <div class="faq-item">
        <button class="faq-question">Как воспользоваться остатком на балансе после использования мультиподарка?</button>
        <div class="faq-answer">
          <p>Бессмысленный текст-заполнитель, который вставляется в макет страницы при тестировании или для того, чтобы показать заказчику как будут смотреться блоки с текстом. Его придумали как замену реального текста. Бытует мнение, что рыбный текст — это плохо и настоящий контент лучше, но мы не видим в «рыбе» ничего плохого. Главное не забыть «почистить» ее, иначе это плохо скажется на продвижении сайта.</p>
        </div>
      </div>
    </div>
  </div>
</section>
