<section class='reviews'>
  <div class='container' style="overflow: hidden">
    <div class="reviews__head-wrap">
      {% include "../../components/title/title.twig" with {
        'class': 'reviews__header',
        'text': 'Отзывы нащих клиентов',
      } %}
      {% include "../../components/arrow/arrow.twig" %}
    </div>
    <div class="swiper mySwiper-reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-menu__reviews">
          <div class="reviews__item">
            <div class="reviews__item-header">Грузинские танцы индивидуальный класс</div>
            <div class="reviews__item-rating">
              <div class="reviews__item-name">Игорь</div>
              <div class="reviews__item-stars">
                <svg class="reviews__item-stars-icon">
                  <use xlink:href="assets/symbol_sprite.svg#rev-stars"></use>
                </svg>
              </div>
            </div>
            <p class="reviews__item-descr">
              Бессмысленный текст-заполнитель, который вставляется в макет страницы при тестировании или для того, чтобы показать заказчику как будут смотреться блоки с текстом. Его придумали как замену реального текста. Бытует мнение, что рыбный текст — блоки с...
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-menu__reviews">
          <div class="reviews__item">
            <div class="reviews__item-header">Массаж для двоих и СПА в серных банях</div>
            <div class="reviews__item-rating">
              <div class="reviews__item-name">Игорь</div>
              <div class="reviews__item-stars">
                <svg class="reviews__item-stars-icon">
                  <use xlink:href="assets/symbol_sprite.svg#rev-stars"></use>
                </svg>
              </div>
            </div>
            <p class="reviews__item-descr">
              Бессмысленный текст-заполнитель, который вставляется в макет страницы при тестировании или для того, чтобы показать заказчику как будут смотреться блоки с текстом. Его придумали как замену реального текста
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-menu__reviews">
          <div class="reviews__item">
            <div class="reviews__item-header">Грузинские танцы индивидуальный класс</div>
            <div class="reviews__item-rating">
              <div class="reviews__item-name">Игорь</div>
              <div class="reviews__item-stars">
                <svg class="reviews__item-stars-icon">
                  <use xlink:href="assets/symbol_sprite.svg#rev-stars"></use>
                </svg>
              </div>
            </div>
            <p class="reviews__item-descr">
              Бессмысленный текст-заполнитель, который вставляется в макет страницы при тестировании или для того, чтобы показать заказчику как будут смотреться блоки с текстом. Его придумали как замену реального текста. Бытует мнение, что рыбный текст — блоки с...
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-menu__reviews">
          <div class="reviews__item">
            <div class="reviews__item-header">Чайная церемония</div>
            <div class="reviews__item-rating">
              <div class="reviews__item-name">Игорь</div>
              <div class="reviews__item-stars">
                <svg class="reviews__item-stars-icon">
                  <use xlink:href="assets/symbol_sprite.svg#rev-stars"></use>
                </svg>
              </div>
            </div>
            <p class="reviews__item-descr">
              Бессмысленный текст-заполнитель, который вставляется в макет страницы при тестировании или для того, чтобы показать заказчику как будут смотреться блоки с текстом. Его придумали как замену реального текста. Бытует мнение, что рыбный текст — блоки с...
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev d-none d-lg-flex"></div>
      <div class="swiper-button-next d-none d-lg-flex"></div>
    </div>
  </div>
</section>
