.reviews {
  padding-top: 30px;
  @include media-breakpoint-up(xxxl) {
    padding-top: 80px;
  }
  &__head-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    @include media-breakpoint-up(xxxl) {
      margin-bottom: 50px;
    }
  }
  &__header {
    font-size: 24px;
    font-weight: 500;
    color: var(--black-text);
    padding: 0 20px 0 0;
    margin: 0;
    @include media-breakpoint-up(lg) {
      font-size: 35px;
    }
    @include media-breakpoint-up(xxxl) {
      font-size: 50px;
    }
  }
  &__item {
    display: flex;
    height: 290px;
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    gap: 15px;
    &-header {
      font-size: 18px;
      font-weight: 500;
      color: var(--black-text);
      @include media-breakpoint-up(xl) {
        font-size: 20px;
      }
      @include media-breakpoint-up(xxxl) {
        font-size: 26px;
      }
    }
    &-rating {
      display: flex;
      align-items: flex-end;

    }
    &-name {
      padding-right: 8px;
      color: rgb(112, 112, 112);
      font-size: 14px;
    }
    &-stars {
      &-icon {
        width: 70px;
        height: 14px;
      }
    }
    &-descr {
      color: rgb(32, 32, 32);
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      height: 7.2em;
      @include media-breakpoint-up(xxxl) {
        font-size: 16px;
      }
    }
  }
  .swiper {
    width: 160%;
    overflow: visible;
    margin-bottom: 2px;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
    .slide-menu__reviews {
      width: 295px;
      @include media-breakpoint-up(sm) {
        width: 315px;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      top: -43px;
      @include media-breakpoint-up(xxl) {
        top: -43px;
      }
      @include media-breakpoint-up(xxxl) {
        top: -79px;
      }
    }
    .swiper-button-prev {
      left: inherit;
      right: 52px;
    }
  }
}
