<select id="custom-select">
  <option value="100|1|55">100 ₾ | 1 чел. | 55 мин.</option>
  <option value="180|2|55">180 ₾ | 2 чел. | 55 мин.</option>
  <option value="250|3|55">250 ₾ | 3 чел. | 55 мин.</option>
  <option value="300|4|55">300 ₾ | 4 чел. | 55 мин.</option>
</select>
