<div class="region">
  <div class="region__wrapper">
    <select name="city">
      <option value="tbilisi" selected>Тбилиси</option>
      <option value="kyiv">Киев</option>
    </select>
  </div>
  <div class="region__wrapper">
    <select name="language">
      <option value="ka">KA</option>
      <option value="ua">UA</option>
      <option value="ru" selected>RU</option>
    </select>
  </div>
</div>
