<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yolo</title>
</head>
<body>
    {% include "./blocks/header/header.twig" %}
    {% include "./blocks/impressions/impressions.twig" %}
    {% include "./blocks/choose/choose.twig" %}
    {% include "./blocks/reviews/reviews.twig" %}
    {% include "./blocks/faq/faq.twig" %}
</body>
</html>
