<section class='impressions'>
  <div class='container'>
    <h1 class="title impressions__title">Наши впечатления</h1>
    {% include "../../components/product-card/product-card.twig" with {
      'src': './assets/dance.png',
      'alt': 'dance',
      'label': 'День святого валентина',
      'stickerClass': 'valentine',
      'header': 'Грузинские танцы индивидуальный класс',
      'subheader': 'Активити',
      'descr': 'Удивите всех Вашим умением танцевать грузинские танцы и красотой движений, удивите всех...',
      'srclike': './assets/cataract.jpg',
    } %}
  </div>
</section>
