<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide swiper__item swiper__item_bl {% if class is defined %}{{ class }}{% endif %} ">
      <span class="content">Соберите до 5-ти впечатлений в одном подарке!</span>
    </div>
    <div class="swiper-slide swiper__item swiper__item_pn">
      <span class="content">Ваш получатель сам выберет какое из впечатления использовать.</span>
    </div>
    <div class="swiper-slide swiper__item swiper__item_yl">
      <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
    </div>
    <!-- Добавляйте слайды по необходимости -->
  </div>
  <!-- Опционально: пагинация -->
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev d-none d-sm-flex"></div>
  <div class="swiper-button-next d-none d-sm-flex"></div>
</div>
