<div class="swiper mySwiper-header">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-menu__card slide-menu__card_blue">
      <span>Соберите до 5-ти впечатлений в одном подарке!</span>
    </div>
    <div class="swiper-slide slide-menu__card slide-menu__card_pink">
      <span>Ваш получатель сам выберет какое из впечатления использовать.</span>
    </div>
    <div class="swiper-slide slide-menu__card slide-menu__card_yellow">
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
    </div>
    <div class="swiper-slide slide-menu__card slide-menu__card_yellow">
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
    </div>
  </div>
  <!-- Опционально: пагинация -->
  <div class="swiper-pagination slide-menu__pagination"></div>
  <div class="swiper-button-prev d-none d-lg-flex"></div>
  <div class="swiper-button-next d-none d-lg-flex"></div>
</div>
