<section class='choose'>
  <div class='container'>
    <div class="choose__wrap">
      <h3 class="choose__header">Не знаете что выбрать?</h3>
      <h6 class="choose__subheader">Оставьте ваши контактные данные и мы вам поможем!</h6>
      <form class="choose__form">
        <input type="text" class="choose__form-input" placeholder="Имя">
        <input type="tel" class="choose__form-input" placeholder="Телефон">
        <button type="submit" class="choose__form-submit">Отправить</button>
      </form>
    </div>
  </div>
</section>
