.choose {
  padding-top: 30px;
  @include media-breakpoint-up(xl) {
    padding-top: 40px;
  }
  @include media-breakpoint-up(xxxl) {
    padding-top: 60px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgb(244, 236, 224);
    padding: 38px 28px;
    text-align: center;
  }
  &__header {
    font-size: 20px;
    font-weight: 500;
    @include media-breakpoint-up(xl) {
      font-size: 25px;
    }
    @include media-breakpoint-up(xxxl) {
      font-size: 30px;
    }
  }
  &__subheader {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 24px;
    @include media-breakpoint-up(xl) {
      font-size: 14px;
      margin-bottom: 30px;
    }
    @include media-breakpoint-up(xxxl) {
      font-size: 16px;
      margin-bottom: 43px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    @include media-breakpoint-up(xl) {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      gap: 38px;
    }
    &-input {
      border: none;
      border-radius: 63px;
      background: rgb(255, 255, 255);
      padding: 20px 20px;
      @include media-breakpoint-up(xxxl) {
        padding: 20px 30px;
      }
    }
    &-submit {
      padding: 15px 100px;
      border: none;
      border-radius: 63px;
      background: rgb(253, 81, 55);
      color: var(--white-text);
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      transition: all .3s ease-in-out;
      @include media-breakpoint-up(lg) {
        &:hover {
          box-shadow: 0 0 8px 0 rgba(253, 81, 55, 0.5);
        }
      }
      @include media-breakpoint-up(xxxl) {
        font-size: 16px;
      }
    }
  }
}
